
choose_table.html.erb
<p><%= @tables[0].name %></p>
<p><%= current_user.email %></p>
<p><%= current_user.first_name %></p>
<p><%= current_user.last_name %></p>
<ul class='circle-container'>
  <li><a href='#'><img src='http://lorempixel.com/100/100/city'></a></li>
  <li><a href='#'><img src='http://lorempixel.com/100/100/nature'></a></li>
  <li><a href='#'><img src='http://lorempixel.com/100/100/abstract'></a></li>
  <li><a href='#'><img src='http://lorempixel.com/100/100/cats'></a></li>
  <li><a href='#'><img src='http://lorempixel.com/100/100/food'></a></li>
  <li><a href='#'><img src='http://lorempixel.com/100/100/animals'></a></li>
  <li><a href='#'><img src='http://lorempixel.com/100/100/business'></a></li>
  <li><a href='#'><img src='http://lorempixel.com/100/100/people'></a></li>
</ul>
