<div class="row">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Thumbnail</th>
          <th>Name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @menu.dishes.each do |dish| %>
          <tr>
            <td><%= image_tag dish.pictures[0].image.url, class: "img-thumbnail", style: "width: 100px; height: 100px" %></td>
            <td><%= dish.name %></td>
            <td><%= dish.description %></td>
            <td><%= link_to "Remove", '#', onclick: "deleteDish(this)", "data-menu" => @menu.id, "data-dish" => dish.id %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
