@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootstrap/theme"
@import "bootstrap-datetimepicker"
@import "jquery.Jcrop"
@import "compass"
@import "font-awesome"
@import "main"

@media (min-width: 768px)
  .sidebar
    position: fixed
    top: 51px
    bottom: 0
    left: 0
    z-index: 1000
    display: block
    padding: 20px 0 /* fix highlight, no padding left here */
    overflow-x: hidden
    overflow-y: auto /* Scrollable contents if viewport is shorter than content. */
    background-color: #2a623d
    border-right: 1px solid #eee

body
  padding-top: 80px
  background-color: #E7EBEE

.navbar
  margin-bottom: 0

.row
  height: 100%

/* Fill the whole screen with color, below the nav bar */
.box
  position: absolute
  background-color: #2a623d
  top: 50px
  left: 0
  right: 0
  bottom: 0
  overflow: auto /* remove the empty space at the bottom of the page */

.main
  height: 100%
  overflow: auto
  background-color: #fff

.toggle-sidebar
  color: #fff
  margin-left: 10px
  float: left

/* Sidebar navigation */
.nav-sidebar
  margin-right: -21px /* 20px padding + 1px border */
  // margin-bottom: 20px make ugly space at the end of the page
  // margin-left: -20px make empty space with the flat panel

.nav-sidebar > li > a
  padding-right: 20px
  padding-left: 20px

.nav-sidebar > .active > a,
.nav-sidebar a:hover,
.nav-sidebar a:focus
  color: #fff
  background-color: #1a472a !important
  border-left: 4px solid #ffcc5c

.sidebar-menu > li
  border-bottom: 1px solid #1a472a

.sidebar-menu > li > a
  color: #fff

.admin-container
  background-color: #E7EBEE

.panel-flat
  height: 100%
  overflow: auto
  padding: 20px 20px
  background: #fff
  position: relative
  box-shadow: 0 1px 0 0rgba(0, 0, 0, 0.04)
  transition: padding 500ms
  -moz-transition: padding 500ms
  -webkit-transition: padding 500ms

.panel-flat .header
  background: transparent
  padding: 3px 0
  border-bottom: 1px solid #dadada

.panel-flat .header h3, h4
  font-family: "Raleway", Helvetica, san-serif
  font-weight: 200

.panel-flat .content
  padding: 15px 3px 0 3px

.btn-file
  position: relative
  overflow: hidden

.btn-file input[type=file]
  position: absolute
  top: 0
  right: 0
  min-height: 100%
  min-width: 100%
  font-size: 100px
  text-align: right
  filter: alpha(opacity=0)
  opacity: 0
  outline: none
  background: white
  cursor: inherit
  display: block

#img_prev
  width: 50px
  height: 50px
  border-radius: 50%

.alert
  padding: 15px
  margin-bottom: 18px
  border: 1px solid transparent
  border-radius: 2px
  text-shadow: none
  box-shadow: none

.alert.alert-info
  background: #e66454
  border-color: #df3c28
  color: #ffffff

.alert-notice
  background-color: #dff0d8
  border-color: #d6e9c6
  color: #468847
  text-align: left

.alert-alert
  background-color: #fddede
  border-color: #cb7c7a
  color: #933230
  text-align: left

.alert li
  list-style: none

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px)
  .sidebar
    position: absolute
    display: block
    height: 100%
    width: 90%
    top: 0
    left: 0

  .row-offcanvas
    position: relative
    height: 100%
    -webkit-transition: all .25s ease-out
    -o-transition: all .25s ease-out
    transition: all .25s ease-out

  .row-offcanvas-right
    right: 0

  .row-offcanvas-left
    left: 0

  .row-offcanvas-right
  .sidebar-offcanvas
    right: -50% /* 6 columns */

  .row-offcanvas-left
  .sidebar-offcanvas
    left: -50%
    position: fixed
    bottom: 0
    z-index: 1000
    display: block
    overflow-x: hidden
    overflow-y: auto /* Scrollable contents if viewport is shorter than content. */
    min-height: 100%
    background-color: #2a623d
    border-right: 1px solid #eee

  .row-offcanvas-right.active
    right: 50% /* 6 columns */

  .row-offcanvas-left.active
    left: 50% /* 6 columns */

  .sidebar-offcanvas
    position: absolute
    top: 0
    width: 50% /* 6 columns */
