@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootstrap/theme"
@import "bootstrap-datetimepicker"
@import "jquery.Jcrop"
@import "compass"
@import "font-awesome"
@import "dropzone/dropzone"
@import "main"
@import "cover"

.navbar-header a
  min-width: 60px
  height: 80px
  background-image: asset_url('logo.png')
  background-repeat: no-repeat
  background-size: 60px 60px
  margin-top: 5px

.navbar-main
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight: 400
  font-style: normal
  font-size: 13px
  letter-spacing: 1px

.navbar-white
  background-color: #fff
  boder-color: #e7e7e7
  height: 120px
  position: relative

.toplink
  padding: 8px 0 0
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  border-bottom: 1px solid #d6d6d6

.links
  float: right

.links ul
  list-style: none

.links ul li
  float: left
  position: relative
  display: inline

.links li:after
  color: #888888
  padding: 0 5px

.links li.last:after
  padding: 0

.table-primary
  margin-bottom: 20px

.table-primary .table-header
  background: #7a6f6f
  color: #fff
  position: relative
  border: 1px solid #565656
  padding: 10px 15px
  margin-bottom: -1px
  border-top-right-radius: 3px
  border-top-left-radius: 3px

.table-caption
  font-size: 15px
  line-height: 24px
  font-weight: 600
  margin: 0
  padding: 0

.table-primary table
  border-top-color: #565656 !important

.table-primary thead
  border-color: #565656 !important
  color: #fff
  display: table-header-group

.table-primary table thead th
  background: #656565
  border-color: #565656 !important

#background
  height: 100%
  width: 100%
  background-color: #dddddd
  left: 0
  top: 0
  overflow: hidden
  position: fixed
  z-index: -1

#background img
  width: 100%

.center-container
  max-width: 380px
  padding: 15px
  margin: 80px auto
  border-radius: 2px
  display: block
  position: relative

.center-header
  background: #1d89cf
  display: block
  overflow: hidden
  padding: 20px 30px
  text-align: center

.small-logo
  font-size: 22px
  color: #fff
  font-weight: 700
  opacity: 1

.small-logo:hover
  color: #fff
  opacity: 0.7
  text-decoration: none

.small-logo img
  margin-top: -5px
  width: 30px
  height: 30px

.btn-file
  position: relative
  overflow: hidden

.btn-file input[type=file]
  position: absolute
  top: 0
  right: 0
  min-height: 100%
  min-width: 100%
  font-size: 100px
  text-align: right
  filter: alpha(opacity=0)
  opacity: 0
  outline: none
  background: white
  cursor: inherit
  display: block

#img_prev
  width: 50px
  height: 50px
  border-radius: 50%

#spinner
  position: fixed
  top: 50%
  left: 50%
  margin-left: -50px /* half width of the spinner gif */
  margin-top: -50px /* half height of the spinner gif */
  text-align: center
  overflow: auto
  width: 100px /* width of the spinner gif */
  height: 102px /* hight of the spinner gif +2px to fix IE8 issue */
  z-index: 2000

.alert
  padding: 15px
  margin-bottom: 18px
  border: 1px solid transparent
  border-radius: 2px
  text-shadow: none
  box-shadow: none

.alert.alert-info
  background: #e66454
  border-color: #df3c28
  color: #ffffff

.signin-form
  padding: 15px
  background: #fff
  display: block
  position: relative

.signin-form .form-group
  margin: 10px 0
  position: relative

.signin-form .form-group.w-icon input
  font-size: 15px
  padding-left: 56px

.signin-form-icon
  border-right: 1px solid #d6d6d6
  bottom: 9px
  color: #d6d6d6
  display: block
  font-size: 14px
  left: 0
  position: absolute
  line-height: 27px
  text-align: center
  top: 9px
  width: 40px
  z-index: 1000
  transition: all .3s
  -webkit-transition: all .3s

.signin-btn
  border: none
  border-radius: 999999px
  font-size: 13px
  font-weight: 600
  line-height: 19px
  outline: 0!important
  padding: 10px 0
  text-align: center
  transition: all .3s
  webkit-transition: all .3s
  padding-left: 40px
  padding-right: 40px
  width: auto

  &:hover
    background: #444 !important


.forgot-password
  border-bottom: 1px dashed #bbb
  color: #999
  display: inline-block
  font-size: 11px
  margin-left: 10px
  padding-bottom: 1px

  &:hover
    color: #555
    text-decoration: none

.remember-me
  font-weight: 700
  font-size: 15px
  font-family: Lato,appleLogo,sans-serif
  color: #555459

.panel-body-table
  padding: 0

.active
  background: #64bed8
  border-color: #64bed8

.placeholder img
  width: 25px
  height: auto
  display: inline-block
  border-radius: 50%

.placeholder a
  color: #666
  text-decoration: none

.placeholder .dropdown-menu
  background: #fff
  padding: 5px 0

.dropdown .open a
  margin: 0
  border-top: none
  background-color: #f6f6f6
  color: #555

@media (max-width: 768px)
  .dropdown>a:after
    content: "\f078"
    font-family: FontAwesome
    float: right
    display: inline-block
    font-size: 10
    position: relative

  .dropdown.open>a:after
    content: "\f077"

  #push, #footer
    margin: 0
    padding-left: 20px
    padding-right: 20px

  .outer-circle
    margin: 10px

#main-navbar li a
  line-height: 42px
  padding-top: 0
  padding-bottom: 0

.navbar li+li
  border-top: 1px solid #f1f1f1

.alert-notice
  background-color: #dff0d8
  border-color: #d6e9c6
  color: #468847
  text-align: left

.alert-alert
  background-color: #fddede
  border-color: #cb7c7a
  color: #933230
  text-align: left

.alert li
  list-style: none

.carousel
  height: 360px
  margin-top: -20px
  margin-bottom: 50px

.carousel .item
  height: 360px
  background-color: #777

.carousel-indicators
  position: absolute
  bottom: 0
  left: 50%
  z-index: 15
  width: 30%
  background: #fff
  border-radius: 6px 6px 0 0
  padding-left: 0
  margin-left: -15%
  margin-bottom: 0
  padding-top: 15px
  text-align: center
  list-style: none

.carousel-indicators li
  background-color: #7f7e7d

.carousel-indicators .active
  background-color: #59a399
  opacity: 1

html, body
  height: 100%

body
  background-color: #e7ebee
  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', sans-serif
  font-size: 12px

#wrap
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -60px

#push
  postion: absolute
  bottom: 0
  width: 100%
  height: 60px

#footer
  postion: absolute
  bottom: 0
  width: 100%
  height: 60px
  background-color: #669999
  border-top: 1px solid #336699

#footer .container
  width: auto
  padding: 0 15px

.panel-seat
  margin: 10px 5px
  border-color: #39393d
  border-radius: 2px

.panel-seat > .panel-heading
  color: #fff
  background-color: #39393d
  border-color: #39393d
  border-top-left-radius: .9px
  border-top-right-radius: .9px
  border-bottom-left-radius: 0px
  border-bottom-right-radius: 0px

.panel-seat img
  border-radius: 50%
  width: 3em
  height: auto

.table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>th
  font-weight: 600

.valign-middle, .valign-middle td, .valign-middle th
  vertical-align: middle !important

.meal-tile
  float: left
  padding: 5px
  display: inline-block
  overflow: hidden
  text-align: center
  margin-bottom: 14px
  height: 23em
  /* cursor: pointer */

.meal-tile .meal-inner-tile
  background: #fff
  height: 100%
  overflow: hidden
  position: relative

.meal-tile .img-wrap
  position: absolute
  overflow: hidden
  height: 50%
  top: auto
  bottom: 0
  width: 100%

.meal-tile .meal-tile-content
  padding-top: .2em

.meal-tile .details
  padding-top: .5em
  z-index: 100
  padding-bottom: 1em

.meal-tile title
  line-height: 1.2em
  margin: 0 10%
  font-family: TensoMedium,TensoLight,"Helvetica Neue",Helvetica,Arial,sans-serif

.panel-flat
  margin-bottom: 40px
  padding: 20px 20px
  background: #fff
  position: relative
  box-shadow: 0 1px 0 0rgba(0, 0, 0, 0.04)
  transition: padding 500ms
  -moz-transition: padding 500ms
  -webkit-transition: padding 500ms

.panel-flat .header
  background: transparent
  padding: 3px 0
  border-bottom: 1px solid #dadada

.panel-flat .header h3
  font-family: "Raleway", Helvetica, san-serif
  font-weight: 200

.panel-flat .content
  padding: 15px 3px 0 3px

.form-control
  padding: 6px 8px
  font-size: 12px
  border-radius: 1px
  -webkit-border-radius: 1px
  box-shadow: none

.btn
  border-radius: 0

.btn-success
  background-color: #06b282
  border-color: transparent

.btn-danger
  background-color: #ea6153
  border-color: transparent
