@import "bootstrap-sprockets"
@import "bootstrap"
@import "bootstrap/theme"

.navbar-header a
  min-width: 60px
  height: 80px
  background-image: url('logo.png')
  background-repeat: no-repeat
  background-size: 60px 60px
  margin-top: 5px

.navbar-main
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight: 400
  font-style: normal
  font-size: 13px
  letter-spacing: 1px
  text-transform: uppercase

.navbar .navbar-nav
  display: inline-block
  float: none

.navbar .navbar-collapse
  text-align: center

.navbar-white
  background-color: #fff
  boder-color: #e7e7e7
  height: 120px
  position: relative

.toplink
  padding: 8px 0 0
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  border-bottom: 1px solid #d6d6d6

.links
  float: right
  text-transform: uppercase

.links ul
  list-style: none

.links ul li
  float: left
  position: relative
  display: inline

.links li:after
  content: ' / '
  color: #888888
  padding: 0 5px

.links li.last:after
  content: ' '
  padding: 0